# Python for Statistical Learning

Instructor: Prof. Varun Rai
TA : Jasleen

Everyone should have python 3.x and jupyter notebook installed also the latest vesion of pandas, numpy, sklearn & matplotlib

In [1]:
# can do almost anything here interactively
2+3

5

In [2]:
ans = 2+3
print(ans)

5

Python Data Structures:
- List
- Strings
- Tuples
- Dictionary

Lists:
A list can simply be defined by writing a list of comma separated values in square brackets. Lists might contain items of different types, but usually the items all have the same type. Python lists are mutable and individual elements of a list can be changed.

In [3]:
my_list = [0,2,4,6,8,10]

Individual elements of a list can be accessed by writing the index number in sqr bracket

In [4]:
my_list[0]

0

In [5]:
my_list[5]

10

A range of script can be accessed by having first index and last index

In [7]:
my_list[2:6]   # slicing return a new list

[4, 6, 8, 10]

can access the list from the end using negative index

In [9]:
my_list[-2]# should return the second last element of the list

8

In [10]:
my_list[4 ] = 100
my_list

[0, 2, 4, 6, 100, 10]

Strings:

Strings can simply be defined by use of single ( ‘ ), double ( ” ) or triple ( ”’ ) inverted commas.
Strings enclosed in tripe quotes ( ”’ ) can span over multiple lines and are used frequently in docstrings (Python’s way of documenting functions).
Python strings are immutable.

In [11]:
greeting = "Hello Class"
print(greeting[2])
print(len(greeting))
print(greeting + " of 2018")

l
11
Hello Class of 2018

Other string methods include lower(), upper(), strip(), isdigit(), isspace(). find(), replace(), split() and join()
useful in data manipulations and cleaning

Tuples:
    
immutable
represented by a number of values seprated by commas

In [12]:
my_tuple = 0,1,4,9,16,25 # (0,1,4,9,16,25)

In [13]:
my_tuple

(0, 1, 4, 9, 16, 25)

In [14]:
my_tuple[4] # tuple elements can be accessed in similar fashion

16

In [15]:
my_tuple[2] = 8 # tuples are immutable and hence this should result in error

TypeError: 'tuple' object does not support item assignment

Dictionary:
an unordered set of key:value pairs
keys are unique
{} : to creates an empty dictionary

In [16]:
movies = {'james': 420, 'fastandfurious': 7, 'ironman': 4}

In [17]:
movies['avengers'] = 3
movies

{'james': 420, 'fastandfurious': 7, 'ironman': 4, 'avengers': 3}

In [18]:
movies.keys()

dict_keys(['james', 'fastandfurious', 'ironman', 'avengers'])

# Python Iteration and Conditional Constructs

In [19]:
for i in range(7):
    print(i)
    print(i+6)
    print("-"*10)

0
6
----------
1
7
----------
2
8
----------
3
9
----------
4
10
----------
5
11
----------
6
12
----------

In [20]:
N = 10
if N%2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [21]:
N = [2,3,6,10,13]
for i in N:
    if i%2 ==0:
        print("Even")
    else:
        print("Odd")

Even
Odd
Even
Even
Odd

# Functions

In [24]:
def hello(name):
    print ("Hello",name)
    
hello('Robert')

Hello Robert

In [25]:
# function with a return value
def summation(a,b):
    return(a+b)

print(summation(10,5))

15

In [ ]:
# Make sure it is at markdown
![alt text](abc.png "Title")

![alt text](abc.png "Title")